@font-face {
  font-family: Ukraine-Regular;
  src: url(../fonts/e-Ukraine-Regular.woff2) format('woff2'),
  url(../fonts/e-Ukraine-Regular.woff) format('woff'),
  url(../fonts/e-Ukraine-Regular.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: Ukraine-Bold;
  src: url(../fonts/e-Ukraine-Bold.woff2) format('woff2'),
  url(../fonts/e-Ukraine-Bold.woff) format('woff'),
  url(../fonts/e-Ukraine-Bold.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: Ukraine-Light;
  src: url(../fonts/e-Ukraine-Light.woff2) format('woff2'),
  url(../fonts/e-Ukraine-Light.woff) format('woff'),
  url(../fonts/e-Ukraine-Light.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: Ukraine-Medium;
  src: url(../fonts/e-Ukraine-Medium.woff2) format('woff2'),
  url(../fonts/e-Ukraine-Medium.woff) format('woff'),
  url(../fonts/e-Ukraine-Medium.ttf) format('truetype');
  font-style: normal;
}